# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/

# macOS
.DS_Store
*.swp
*~

# Build artifacts
*.app
*.dmg
*.ipa
*.dSYM.zip
*.dSYM
